<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
<body>
    <div>
        <h1>LOG IN</h1>
        <form action="/" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username">

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">

            <button type="submit">Submit</button>
        </form>
        <p>No account yet? <a href="/signup">Sign up here!</a></p>
    </div>
</body>
</html>